<div class="container">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: "form-1") do |f| %>
    <p class="field">
      <%= f.email_field :email, autofocus: true, placeholder: "Username or email" %>
      <i class="icon-user icon-large"></i>
    </p>

    <p class="field">
      <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
      <i class="icon-lock icon-large"></i>
    </p>
    <% if devise_mapping.rememberable? -%>
      <p class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </p>
    <% end -%>
    <p class="submit">
      <button type="submit" name="submit"><i class="icon-arrow-right icon-large"><%= f.submit "Log in" %></i></button>
    </p>
  <% end %>
  </br>
  <%= render "devise/shared/links" %>
</div>