<!DOCTYPE html>
<html lang="en">
<head>
  <title> <%= yield(:title) %> </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

<div id="header">
	<div id="cpBtn" onclick="toggleCP()">
		<div></div>
		<div></div>
		<div></div>
	</div>
	<div id="cp">
		<ul class="sidebar-nav">
			<li><%= link_to "Blog", root_path %></li>
			<li><%= link_to "New Post", new_article_path %></li>
			<li><%= link_to "About", about_path %></li>
			<li class="sidebar-brand">Social</li>
			<li><a href="https://twitter.com/rupace10" target="_blank">Twitter</a></li>
			<li><a href= '#' >Instagram</a></li>
			<li><a href="https://github.com/rupace10" target="_blank">Github</a></li>
		</ul>
	</div>
	<div class="buttons">
	<% if !user_signed_in? %>
		<% if current_page?(root_path)%>
		<%= link_to "Login", new_user_session_path, class: "button" %>
		<% end %>
		<%#= link_to "Sign up", new_user_registration_path, class: "button" -%>
	<% end %>
	</div>

	<% if current_page?(root_path)%>
		<p class="ap-text">All Posts</p>
	<% elsif current_page?(about_path)%>
		<p>About</p>
	<% else %>
	<%= link_to "Back to All Posts", root_path, class: "icon-arrow-left" %>
	<% end %>



			<%-# if can? :update, @user -%>
				 <%#= link_to "Admin", admin_root_path -%>
			<%-# end -%>

	<% if user_signed_in? %>
	Logged in as <%= current_user.email %>.
		<div class="buttons">
			<%= link_to "Log Out", destroy_user_session_path, :method => :delete, class: "button" %>
			&nbsp;
			<%= link_to 'New Post', new_article_path, class: "button" %>
		</div>
	<% end %>
</div>
<div id="content" class="container">
	<% flash.each do|name, msg| %>
	<%= content_tag(:div, msg, class: "alert") %>
	<% end %>
<%= yield %>
</div>
	<%= javascript_include_tag :defaults %>
	<p><%= notice %></p>
<p><%= alert %></p>
<script>
function toggleCP(){
	var cp = document.getElementById("cp");
	cp.style.height = window.innerHeight - 60+"px";
	if(cp.style.right == "0px"){
		cp.style.right = "-260px";
	}
	else {
		cp.style.right = "0px";
	}
}
</script>
</body>

</html>